dj-database-url==0.3.0
dj-static==0.0.6
Django==1.7
geopy==1.10.0
gnureadline==6.3.3
gunicorn==19.3.0
heroku==0.1.4
ipdb==0.8
ipython==3.1.0
Pillow==2.8.1
pygeocoder==1.2.5
python-dateutil==1.5
requests==2.6.0
static3==0.5.1
