{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="row">
    {% if course.image %}
        <div> <img src="{{ course.image.url }}"> </div>
    {% endif %}
<div class="col-xs-12"> 
    <h3 style="color: #C6C803"> {{ course.name }} </h3>
    <div>
        <h6 style="color: #FBF5F5; font-size:1.4em;">{{ course.address }}</h6>
        <h6 style="color: #FBF5F5; font-size:1.4em;">{{ course.phone }}</h6>
        <h6 style="color: #FBF5F5; font-size:1.4em;"><a href="{{ course.site }}">{{ course.site }}</h6></a>
    </div>
</div>
</div>

<div class="row">
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.4em;">Weekday Price: {{ course.MtoTprice }}</h6>
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.4em;">Weekday Price: {{ course.FtoSprice }}</h6>
    </div>
</div>

<div class="row" style="padding-bottom: 30px;">
    <div class="col-xs-12">
        <h4>Features</h4>
    </div>
    
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Public: {% include "golfApp/includes/checkbox.html" with value=course.Public %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Private: {% include "golfApp/includes/checkbox.html" with value=course.Private %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">18 Hole Play: {% include "golfApp/includes/checkbox.html" with value=course.EighteenHolePlay %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">9 Hole Play: {% include "golfApp/includes/checkbox.html" with value=course.NineHolePlay %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Driving Range: {% include "golfApp/includes/checkbox.html" with value=course.DrivingRange %}</h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Putting Green: {% include "golfApp/includes/checkbox.html" with value=course.PuttingGreen %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Par 3 Course:  {% include "golfApp/includes/checkbox.html" with value=course.ParThree %} </h6>
       
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Mini Golf:  {% include "golfApp/includes/checkbox.html" with value=course.MiniGolf %} </h6>
       
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Water Hazards: {% include "golfApp/includes/checkbox.html" with value=course.WaterHazards %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Bunkers: {% include "golfApp/includes/checkbox.html" with value=course.Bunkers %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Pro Shop: {% include "golfApp/includes/checkbox.html" with value=course.ProShop %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Lessons: {% include "golfApp/includes/checkbox.html" with value=course.Lessons %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Club Rental: {% include "golfApp/includes/checkbox.html" with value=course.ClubRental %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Caddies Available:  {% include "golfApp/includes/checkbox.html" with value=course.CaddieHire %} </h6>
       
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Locker Room: {% include "golfApp/includes/checkbox.html" with value=course.LockerRoom %} </h6>
        
    </div>
    <div class="col-xs-6">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Restaurant: {% include "golfApp/includes/checkbox.html" with value=course.Restaurant %} </h6>
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Scoring Info</h4>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 1 - Par {{ course.coursepar.hole1 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 2 - Par {{ course.coursepar.hole2 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 3 - Par {{ course.coursepar.hole3 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 4 - Par {{ course.coursepar.hole4 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 5 - Par {{ course.coursepar.hole5 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 6 - Par {{ course.coursepar.hole6 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 7 - Par {{ course.coursepar.hole7 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 8 - Par {{ course.coursepar.hole8 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 9 - Par {{ course.coursepar.hole9 }}</h6>
    </div>
    <div class="col-xs-12">
        <center>
        <h6 style="color: #C6C803; font-size:1.2em;">9 Hole Total - {{ course.coursepar.partotalnine }}</h6>
        </center>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 10 - Par{{ course.coursepar.hole10 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 11 - Par{{ course.coursepar.hole11 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 12 - Par{{ course.coursepar.hole12 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 13 - Par{{ course.coursepar.hole13 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 14 - Par{{ course.coursepar.hole14 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 15 - Par{{ course.coursepar.hole15 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 16 - Par{{ course.coursepar.hole16 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 17 - Par{{ course.coursepar.hole17 }}</h6>
    </div>
    <div class="col-xs-4">
        <h6 style="color: #FBF5F5; font-size:1.2em;">Hole 18 - Par{{ course.coursepar.hole18 }}</h6>
    </div>
    <hr>
    <div class="col-xs-12">
        <center>
        <h6 style="color: #C6C803; font-size:1.2em;">18 Hole Total - {{ course.coursepar.partotal }}</h6>
        </center>
    </div>
</div>
    


   

{% endblock %}
