{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-xs-12">
    <h3>rules</h3>
    <ul><h5>The Game</h5>
        <li>Golf is playing a ball from the teeing ground into the hold by a stroke or strokes</li>
        <li>You must always play by the rules. You are not allowed to change them midplay.</li>
    </ul>
    <ul><h5>Match Play</h5>
        <li>In match play, each hole is a separate contest. If you win the first hole, you are 'one up'; if you lose it, your opponent is 'one up'; if you tie it, you are 'all square.'</li>
        <li>You have won the match when, for example, you are three up and there are only two holes left to play.</li>
        <li>Anyone you are playing against is your "opponent."</li>
    </ul>
     <ul><h5>Match Play</h5>
        <li>In stroke play, the competitor with the lowest total score for the stipulated rounds is the winner.</li>
        <li>You have won th.</e match when, for example, you are three up and there are only two holes left to playli>
        <li>Anyone you are playing against is your "opponent."</li>
    </ul>

{% endblock %}