{% extends "base.html" %}

{% block content %}

<div class="row">
<div class="col-xs-12">
    <h3>rules</h3>
    <p>NEED TO UPDATE WITH RULES</p>
    <br>
    <div style="margin-left: 1em;">
    <h4>bingo bango bongo</h4>
    <div style="margin-left: 1em;">
        <p>Bingo Bango Bongo is a points-based game that can be played by two or more players or teams. In Bingo Bango Bongo, three types of achievements are rewarded with a point. The first player in a group to get his ball on the green gets a point (bingo). The player in the group whose ball is closest to the pin once all balls are on the green gets a point (bango). And the player in the group who is first to hole out gets a point (bongo). Lowest score on hole wins 2 points, but if 2 players tie, all tie, which means no points are given out. At the end of the game the player with the most points wins the money which comes from the other players in individual play or the other team. The amount of money can be a certain amount for 18 holes or for Team-play a certain amount for each hole. Bingo Bango Bongo is considered a game for skilled players, and its point-based scoring makes it a popular side-game for wagering.</p>
    </div>
    </div>
    <br>
    <div style="margin-left: 1em;">
    <h4>acey deucey</h4>
    <div style="margin-left: 1em;">
        <p>Aces and Deuces, or Acey Deucey, is a bet in which there is a winner, two modest losers, and one big loser on each hole. It's a game for groups of four, obviously. The low scorer on each hole wins a certain amount from each of the other three players; while the high scorer on each holes owes each of the other three.</p>
    </div>
    </div>
    <br>
    <div style="margin-left: 1em;">
    <h4>nassau</h4>
    <div style="margin-left: 1em;">
        <p>The Nassau is three bets in one: low score on the front nine, low score on the back nine and low score over the full 18. The $2 Nassau is perhaps the most common bet among golf buddies.</p>
    </div>
    </div>
    <br>
    <div style="margin-left: 1em;">
    <h4>round robin</h4>
    <div style="margin-left: 1em;">
        <p>Round Robin, also known as Hollywood or Sixes, is a betting game for groups of four that involves two members of the foursome teaming up against the other two. The catch is that partners rotate every six holes.</p>
    </div>
    </div>
    <br>
    <div style="margin-left: 1em;">
    <h4>criers and whiners</h4>
    <div style="margin-left: 1em;">
        <p>Criers and Whiners is known by many different names, but the gist is the same: it's a game of mulligans for those players who are always crying and whining about that handful of shots they screwed up. "If only I could have hit that one again ..." The number of do-overs golfers get in Criers and Whiners is based on their handicap index.</p>
    </div>
    </div>
    <br>
    <div style="margin-left: 1em;">
    <h4>best in show</h4>
    <div style="margin-left: 1em;">
        <p>Best in Show allows golfers to score points in up to six different categories. Before the round, each player should contribute an equal amount of money to a central pot. On each hole, a player scores a point for driving in the fairway (not played on par-3's), hitting a green in regulation, or one-putting a green. One point is also awarded for having the longest drive in the group (obviously, not used on par-3's), being closest to the pin once all balls are on the green, and for having the lowest score on the hole (all players who tie for lowest score are awarded points). After the round, the player who scored the most points in each category wins 10% of the pot, except for most holes won, which pays 20%. The player with the most points overall is deemed "best in show" and wins the remaining 30%.</p>
    </div>
    </div>

</div>
</div>
{% endblock %}