{% extends "base.html" %}

{% block content %}

<div id="CourseList" class="col-x">
    <h3>scorecards</h3>
    
    {%for scorecard in scorecards%}
    
        <div class="col-xs-12">
            <div class="courseList">
                
            <a href="{% url 'scorecard' scorecard.id %}">
                <div>
                    <h4>{{ scorecard.course}}</h4>
                    <h6 style="color: #FBF5F5">{{ scorecard.user }} | {{ scorecard.date }}</h6>
                </div>
            </a>
            </div>
        </div>
        
    {% endfor %}

</div>

{% endblock %}

